################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.godot/mono/metadata/ide_messaging_meta.txt
/.godot/mono/temp/bin/Debug/de
/.godot/mono/temp/bin/Debug/es
/Properties/launchSettings.json
/.godot/mono/temp/obj/Debug/ref/FireFightGodot.dll
/.godot/mono/temp/obj/Debug/refint/FireFightGodot.dll
/.godot/mono/temp/obj/Debug/FireFightGodot.AssemblyInfo.cs
/.godot/mono/temp/obj/Debug/FireFightGodot.AssemblyInfoInputs.cache
/.godot/mono/temp/obj/Debug/FireFightGodot.assets.cache
/.godot/mono/temp/obj/Debug/FireFightGodot.csproj.AssemblyReference.cache
/.godot/mono/temp/obj/Debug/FireFightGodot.csproj.BuildWithSkipAnalyzers
/.godot/mono/temp/obj/Debug/FireFightGodot.csproj.CoreCompileInputs.cache
/.godot/mono/temp/obj/Debug/FireFightGodot.csproj.FileListAbsolute.txt
/.godot/mono/temp/obj/Debug/FireFightGodot.dll
/.godot/mono/temp/obj/Debug/FireFightGodot.pdb
/.godot/mono/temp/obj/Debug/FireFightGodot.sourcelink.json
/.godot/mono/temp/bin/Debug/fr/Microsoft.Data.SqlClient.resources.dll
/.godot/mono/temp/bin/Debug/it/Microsoft.Data.SqlClient.resources.dll
/.godot/mono/temp/bin/Debug/ja/Microsoft.Data.SqlClient.resources.dll
/.godot/mono/temp/bin/Debug/ko/Microsoft.Data.SqlClient.resources.dll
/.godot/mono/temp/bin/Debug/pt-BR/Microsoft.Data.SqlClient.resources.dll
/.godot/mono/temp/bin/Debug/ru/Microsoft.Data.SqlClient.resources.dll
/.godot/mono/temp/bin/Debug/runtimes/unix/lib/net8.0/Microsoft.Data.SqlClient.dll
/.godot/mono/temp/bin/Debug/runtimes/win/lib/net8.0/Microsoft.Data.SqlClient.dll
/.godot/mono/temp/bin/Debug/runtimes/win/lib/net8.0/System.Diagnostics.EventLog.dll
/.godot/mono/temp/bin/Debug/runtimes/win/lib/net8.0/System.Diagnostics.EventLog.Messages.dll
/.godot/mono/temp/bin/Debug/runtimes/win/lib/net8.0/System.Runtime.Caching.dll
/.godot/mono/temp/bin/Debug/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/.godot/mono/temp/bin/Debug/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/.godot/mono/temp/bin/Debug/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/.godot/mono/temp/bin/Debug/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/.godot/mono/temp/bin/Debug/zh-Hans/Microsoft.Data.SqlClient.resources.dll
/.godot/mono/temp/bin/Debug/zh-Hant/Microsoft.Data.SqlClient.resources.dll
/.godot/mono/temp/bin/Debug/Azure.Core.dll
/.godot/mono/temp/bin/Debug/Azure.Identity.dll
/.godot/mono/temp/bin/Debug/FireFightGodot.deps.json
/.godot/mono/temp/bin/Debug/FireFightGodot.dll
/.godot/mono/temp/bin/Debug/FireFightGodot.pdb
/.godot/mono/temp/bin/Debug/FireFightLibrary.dll
/.godot/mono/temp/bin/Debug/FireFightLibrary.pdb
/.godot/mono/temp/bin/Debug/Microsoft.Bcl.AsyncInterfaces.dll
/.godot/mono/temp/bin/Debug/Microsoft.Data.SqlClient.dll
/.godot/mono/temp/bin/Debug/Microsoft.Identity.Client.dll
/.godot/mono/temp/bin/Debug/Microsoft.Identity.Client.Extensions.Msal.dll
/.godot/mono/temp/bin/Debug/Microsoft.IdentityModel.Abstractions.dll
/.godot/mono/temp/bin/Debug/Microsoft.IdentityModel.JsonWebTokens.dll
/.godot/mono/temp/bin/Debug/Microsoft.IdentityModel.Logging.dll
/.godot/mono/temp/bin/Debug/Microsoft.IdentityModel.Protocols.dll
/.godot/mono/temp/bin/Debug/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/.godot/mono/temp/bin/Debug/Microsoft.IdentityModel.Tokens.dll
/.godot/mono/temp/bin/Debug/Microsoft.SqlServer.Server.dll
/.godot/mono/temp/bin/Debug/System.ClientModel.dll
/.godot/mono/temp/bin/Debug/System.Configuration.ConfigurationManager.dll
/.godot/mono/temp/bin/Debug/System.Diagnostics.EventLog.dll
/.godot/mono/temp/bin/Debug/System.IdentityModel.Tokens.Jwt.dll
/.godot/mono/temp/bin/Debug/System.Memory.Data.dll
/.godot/mono/temp/bin/Debug/System.Runtime.Caching.dll
/.godot/mono/temp/bin/Debug/System.Security.Cryptography.ProtectedData.dll
/.vs/FireFightGodot/FileContentIndex/19f80bf1-05b7-45ed-abea-4a6544c028ef.vsidx
/.vs/FireFightGodot/FileContentIndex/19f80bf1-05b7-45ed-abea-4a6544c028ef.vsidx
/.vs/FireFightGodot/FileContentIndex/9924fc26-7712-482d-a528-8697cdf5f3f5.vsidx
/.vs/FireFightGodot/FileContentIndex
